.row{
    background-color: #f2c6f3;
}
footer{
    color: rgb(77, 77, 73);
    font-size:14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px ghostwhite;
}